<span><h4>Your Cart</h4></span>
<span>x item(s) - <%= number_to_currency(cart.total_price) %></span>

<span style="display:inline; position:fixed;"><!-- START_HIGHLIGHT -->
	<%= button_to 'Empty cart', cart, method: :delete,
	#END_HIGHLIGHT
	    confirm: 'Are you sure?' %></span>
