<div class="well">
	<span>
		<h4><i class="icon-shopping-cart icon-white"></i>
		x item(s) - <%= number_to_currency(cart.total_price) %></h4>
		<%= button_to 'Empty cart', cart, method: :delete, id:"empty-button", class: "btn btn-primary", confirm: 'Are you sure?' %>
	</span>
</div>
