<% if line_item == @current_item %>
<div id="current_item" "row span6"></div>
<% else %>
<div class="row">
<% end %>
	<div class="span"><%= line_item.quantity %>  &times;</div>
	<div class="span2"><%= line_item.product.title %></div>
	<div class="span item_price"><%= number_to_currency(line_item.total_price) %></div>
</div>